@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700&family=Playfair+Display:ital,wght@0,400;1,400;1,500;1,600&family=Roboto:wght@100;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-2: "Playfair display";
  --dark-yellow: #e8e59b;
  --light-yellow: #fefaf0;
  --black: #222;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.6rem;
  width: 100%;
  background-color: var(--light-yellow);
}

img {
  height: 100%;
}
