.section-b {
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  width: 70%;
  margin-top: 10rem;
  margin-bottom: 40rem;
  /* display: flex; */
  /* flex-direction: column; */
}

.menu-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10rem;
}

.menu-logo {
  font-size: 3rem;
  font-weight: 500;
}

.menu-pages {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.menu-pages > * {
  margin-right: 7rem;
}
.menu-pages li:last-of-type {
  margin-right: 0;
}

.body {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background: white;
}

a {
  text-decoration: none;
}
.body:hover {
  box-shadow: 2px 2px 4px 3px rgb(232, 229, 155, 0.4);
  cursor: pointer;
}
.body h2 {
  color: var(--black);
  font-size: 2rem;
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: left;
}
.body p {
  font-weight: 400;
  font-size: 1.4rem;
  color: #1b1a1166;
}

.delete {
  margin-top: 4rem;
}

/* New Blog */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  /* color: #f1356d; */
  color: inherit;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  box-sizing: border-box;
  display: block;
}
